data_verifed/
data_unverified/
dataRawProcess/
raw_path/
dataWorkingEng/checkpoints/
dataWorkingEng/syn_samples/
dataWorkingEng/syn_samples_cp/
dataWorkingEng/syn_save/
dataWorkingEng/hifigan/
dataWorkingEng/filelists/
dataWorkingEng/audio/
dataWorkingEng/bigvgan/
dataWorkingVie/hifigan/
dataWorkingVie/checkpoints/
